---
layout: default
---

 <div class="mui-row">
    <div class="mui-col-sm-10 mui-col-sm-offset-1">
	<div class="post">
		<h2>Archive</h2>
		<ul style="padding-left: 0px;">
		  {% for post in site.posts %}
		    {% unless post.next %}
		      <div class="mui--text-black-54 mui--text-title">{{ post.date | date: '%Y %b' }}</div>
		      <div class="mui-divider"></div>
		      <br>
		    {% else %}
		      {% capture year %}{{ post.date | date: '%Y %b' }}{% endcapture %}
		      {% capture nyear %}{{ post.next.date | date: '%Y %b' }}{% endcapture %}
		      {% if year != nyear %}
			<div class="mui--text-black-54 mui--text-title">{{ post.date | date: '%Y %b' }}</div>
		        <div class="mui-divider"></div>
		        <br>
		      {% endif %}
		    {% endunless %}

			<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
			
		  {% endfor %}
		</ul>
	</div>
    </div>
</div>
