---
layout: default
---

<div class="shadow">
        <input id="search" type="text" placeholder="Search...">
        <div class="rest">
          <br>
          <br>
          <br>
          <h1 class="thin">LATEST POST</h1>
          <hr>
          <br>
          {% for post in site.posts limit:1 %}
            <div class="post">
              <div class="postImg">
                <img src="https://comput3rz.github.io/post_img/{{ post.img }}">
              </div>
              <div class="postTitle">
                <a href="{{ site.baseurl }}{{ post.url }}"><h1>{{ post.title }}</h1></a>
              </div>
              <div class="postContent">
                  <p>
                    {{ post.content | strip_html }}
                  </p>
              </div>
              <a href="{{ site.baseurl }}{{ post.url }}"><button>READ MORE</button></a>
            </div>
          {% endfor %}
          <br>
          <br>
          <h1 class="thin">RECENT POSTS</h1>
          <hr>
          <br>
          {% for post in site.posts offset:1 %}
            <div class="post">
              <div class="postImg">
                <img src="https://comput3rz.github.io/post_img/{{ post.img }}">
              </div>
              <div class="postTitle">
                <a href="{{ site.baseurl }}{{ post.url }}"><h1>{{ post.title }}</h1></a>
              </div>
              <div class="postContent">
                  <p>
                    {{ post.content | strip_html }}
                  </p>
              </div>
              <a href="{{ site.baseurl }}{{ post.url }}"><button>READ MORE</button></a>
            </div>
            <br>
            <br>
          {% endfor %}
        </div>
        <div class="results">

        </div>
      </div>
