---
layout: default
---

<article style="margin-left: 8.33333%; width: 83.33333%;" class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written by Comput3rz on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>

<script>
  $(function() {
    $("table").addClass("mui-table mui-table--bordered");
    $("td").filter(function() {
        return $(this).text() === "Starting point:";
    }).css("font-weight", "bold");
  })
</script>
