---
layout: default
---

<article style="margin-left: 8.33333%; width: 83.33333%;" class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    <br>
    Written by Comput3rz on {{ page.date | date: "%B %e, %Y" }}
    <br>
  </div>

  {% include disqus.html %}
</article>

<script>
  $(function() {
    // Add Material CSS table
    $("table").addClass("mui-table mui-table--bordered");
    
    // Equally Spaced Columns
    $("table").css("table-layout", "fixed");
    
    // Bold Subheadings
    $("td").filter(function() {
        return $(this).text() === "Starting point:" || $(this).text() === "Target for this lesson?" || $(this).text() === "Did I reach my target? " || $(this).text() === "How did I learn? What strategies were effective? " || $(this).text() === "What limited my learning? Which habits do I need to work on? " || $(this).text() === "What will I change for next time? How will I improve my learning?";
    }).css("font-weight", "bold");
    
    // Bold and Big Heading
    $("td").filter(function() {
      return $(this).text() === "Title" || $(this).text() === "Date" || $(this).text() === "Lesson Review";
    }).css({
      "font-weight": "bold",
      "font-size": "20px"
    });
  })
</script>
